{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
	<div class="span9 well">
		<h2>
			{% if is_top_20 %}
			<a href="#" rel="tooltip" title="This repository is in the Top 20% of most active repositories last month">
				<img src="/media/images/badge_top20.png" width="65"/></a>
			{% endif %}
			Developer: {{name}}
		</h2>
		<div id="chart_div" style="margin-top:2em"></div>
	</div>

	<div class="span3 well">
		<h3>Facts</h3>
		<div class="row-fluid">
			<table class="table table-bordered" style="withd:100%">
				<tr>
					<td class="span4">URL:</td>
					<td class="span8"><a href="http://github.com/{{name}}">http://github.com/{{name}}</a></td>
				</tr>
			</table>
		</div>

		<h3>Related repositories</h3>
		<ul>
		{% for pd in project_developers %}
			<li><a href="/project?name={{pd.repository}}">{{pd.repository}}</a></li>				
		{% endfor %}
		</ul>
	</div>
	
</div>

<script src='https://www.google.com/jsapi' type='text/javascript'></script>

<script type="text/javascript">
	google.load('visualization', '1.0', {'packages':['corechart']});
	google.setOnLoadCallback(drawChart);
	
	function drawChart(){
	    var data = new google.visualization.DataTable();
	    data.addColumn('string', 'Month');
	    data.addColumn('number', 'Activity');
	    data.addRows( {{activity_count}} );
		{% for activity in data %}
			data.setValue({{forloop.counter0}}, 0, '{{activity.tenure}}');
			data.setValue({{forloop.counter0}}, 1, {{activity.count}});
		{% endfor %}
	 
	    var chartDiv = document.getElementById('chart_div')
	    var chart = new google.visualization.LineChart(chartDiv);
	    var options = {
	    		width: $('#well').width(), 
	    		height: 500,
	            title: 'Developer activity',
	            pointSize:10,
	            hAxis: {minValue:0, title: "Date"},
	            vAxis: {minValue:0, title: "Activity"}
	          };

	    chart.draw(data, options);	    
	}
	 
</script>   	

{% endblock %}

