{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
	<div class="span9 well">
		<h2>Repository: {{name}}</h2>
		<div id="chart_div" style="margin-top:2em"></div>
		
		<div class="row-fluid">
			<div class="span8" style="margin-top:1em">
				<div class="btn-group">
				  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				    Action
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				    <li><a onClick="showColumns([0, 1]);">Show activity only</a></li>
				    <li><a onClick="showColumns([0, 1, 2]);">Show activity and committers</a></li>
				  </ul>
				</div>
			</div>
			<div class="pull-right" style="margin-top:2em">
				<a href="download?name={{name}}">Download data for this chart</a>
			</div>
		</div>
	</div>
	
	<div class="span3 well">
		<h3>Facts</h3>
		<div class="row-fluid">
			<table class="table table-bordered" style="withd:100%">
				<tr>
					<td class="span4">URL:</td>
					<td class="span8"><a href="http://github.com/{{name}}">http://github.com/{{name}}</a></td>
				</tr>
				<tr>
					<td style="vertical-align:middle">Forecast:</td>
					<td>
					{% if trend == 1 %}
						<a href="#" rel="tooltip" title="Activity in this project is declining">
							<img src="/media/images/weather-overcast.png" style="margin-top:1em"/>
						</a>
					{% endif %}
					{% if trend == 2 %}
						<a href="#" rel="tooltip" title="This project has stable activity">
							<img src="/media/images/weather-few-clouds.png" style="margin-top:1em"/>
						</a>
					{% endif %}
					{% if trend == 3 %}
						<a href="#" rel="tooltip" title="Activity in this project is increasing!">
							<img src="/media/images/weather-clear.png" style="margin-top:1em"/>
						</a>
					{% endif %}
					</td>
				</tr>
			</table>
		</div>

		<h3>Related people</h3>
		<ul>
		{% for pd in project_developers %}
			<li><a href="/people?name={{pd.developer}}">{{pd.developer}}</a></li>				
		{% endfor %}
		</ul>
	</div>
	
</div>


<script src='https://www.google.com/jsapi' type='text/javascript'></script>

<script type="text/javascript">
	google.load('visualization', '1.0', {'packages':['corechart']});
	google.setOnLoadCallback(drawChart);
	
	var dataView;
	var chart;
	var options;
	function drawChart(){
	    var data = new google.visualization.DataTable();
	    data.addColumn('string', 'Month');
	    data.addColumn('number', 'Activity');
	    data.addColumn('number', 'Committers');
	    data.addRows( {{activity_count}} );
		{% for activity in data %}
			data.setValue({{forloop.counter0}}, 0, '{{activity.tenure}}');
			data.setValue({{forloop.counter0}}, 1, {{activity.count}});
			data.setValue({{forloop.counter0}}, 2, {{activity.committer_count}});
		{% endfor %}
	 
		dataView = new google.visualization.DataView(data);
		dataView.setColumns([0, 1]);
	    var chartDiv = document.getElementById('chart_div')
	    chart = new google.visualization.LineChart(chartDiv);
	    options = {
	    		width: $('#well').width(), 
	    		height: 500,
	            title: 'Repository activity',
	            pointSize:10,
	            hAxis: {minValue:0, title: "Date"},
	            vAxis: {minValue:0, title: "Push events"}
	          };

	    chart.draw(dataView, options);	    
	}
	
	function showColumns(columns){
		dataView.setColumns(columns);
	    chart.draw(dataView, options);	    
	}
	 
</script>   	

{% endblock %}

