{% extends "base.html" %}

{% block content_not_fluid %}

<div id="well" class="well">
	<h2>How many repositories are active after one year?</h2>
	
	<div id="chart1_div" style="margin-top:2em"></div>
	
	<h4>Remarks</h4>
	<ol>
		<li>Only 1.8% repositories are active after one year.</li>
		<li>If your repository is still active after one year, then congratulations! :-)</li>
		<li>Repository is considered as active when there is at least one push per month</li>
		<li>Data was token from October 2011 to October 2012</li> 
	</ol>

	<hr/>
	<h3>Power law</h3>	
	<div id="chart2_div" style="margin-top:2em"></div>
	<div style="margin-top:2em">
		As you can see from the Log-log chart, this distribution follows 
		<a href="http://wikipedia.org/wiki/Power_law">power law</a>.
	</div>
	
</div>

<script src='https://www.google.com/jsapi' type='text/javascript'></script>

<script type="text/javascript">
	google.load('visualization', '1.0', {'packages':['corechart']});
	google.setOnLoadCallback(drawChart);
	
	function drawChart1(){
	    var data = new google.visualization.DataTable();
	    data.addColumn('string', 'Month');
	    data.addColumn('number', 'Active repositories');
	    data.addRows([
	  				["0", 234906],
	  				["1", 60613],
	  				["2", 30853],
	  				["3", 20210],
	  				["4", 14956],
	  				["5", 11779],
	  				["6", 9576],
	  				["7", 8042],
	  				["8", 6815],
	  				["9", 5946],
	  				["10", 5268],
	  				["11", 4658],
	  				["12", 4229],
	  	    ]);	 
	    var chartDiv = document.getElementById('chart1_div')
	    var chart = new google.visualization.ColumnChart(chartDiv);
	    var options = {
	    		width: $('#well').width(), 
	    		height: 500,
	            title: 'Repository activity',
	            pointSize:10,
	            hAxis: {minValue:0, title: "Month"},
	            vAxis: {minValue:0, title: "Repositories"}
	          };

	    chart.draw(data, options);	    
	}
	 
	function drawChart2(){
	    var data = new google.visualization.DataTable();
	    data.addColumn('number', 'Month');
	    data.addColumn('number', 'Active repositories');
	    data.addRows([
	  				[Math.log(0), Math.log(234906)],
	  				[Math.log(1), Math.log(60613)],
	  				[Math.log(2), Math.log(30853)],
	  				[Math.log(3), Math.log(20210)],
	  				[Math.log(4), Math.log(14956)],
	  				[Math.log(5), Math.log(11779)],
	  				[Math.log(6), Math.log(9576)],
	  				[Math.log(7), Math.log(8042)],
	  				[Math.log(8), Math.log(6815)],
	  				[Math.log(9), Math.log(5946)],
	  				[Math.log(10), Math.log(5268)],
	  				[Math.log(11), Math.log(4658)],
	  				[Math.log(12), Math.log(4229)],
	  	    ]);	 
	    var chartDiv = document.getElementById('chart2_div')
	    var chart = new google.visualization.LineChart(chartDiv);
	    var options = {
	    		width: $('#well').width(), 
	    		height: 500,
	            title: 'Log-log chart',
	            pointSize:10,
	            hAxis: {title: "Month"},
	            vAxis: {title: "Repositories"}
	          };

	    chart.draw(data, options);	    
	}
	
	
	function drawChart(){
		drawChart1();
		drawChart2();
	}
	 
</script>   	

{% endblock %}

