{% extends "base.html" %}

{% block content %}

	<div class="well">
		<h1>What we know</h1>
		
		<ol style="margin-top:2em">
			<li>
				<a href="/project/long_term">
					Only 1.8% repositories will be active after one year
				</a>
				 (2011-10 &#247; 2012-10).
			</li>
			<li>
				There is 81.9% chance (with SD=1.37) that the repository will have lower activity next month
				(2011-10 &#247; 2012-10).
			</li>
		</ol>
		
		<p style="margin-top:2em">
		In parentheses you will find date range from which this data is taken
		</p> 
	</div>

{% endblock %}

